@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply border-2 px-8 py-3 flex justify-center font-semibold md:text-lg md:py-4 md:px-10 rounded-lg relative shadow transition hover:shadow-md mb-4 active:top-1;
  }

  .end-cursor:after {
    content: '|';
    @apply text-secondary-300;
  }

  .end-cursor.blinking:after {
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

.button-primary {
  @apply button;
  @apply bg-primary-400 text-white border-primary-400 hover:bg-primary-500;
}

.button-outline {
  @apply button;
  @apply bg-white text-primary-400 border-white hover:bg-gray-50 hover:text-primary-500;
}
